main {
  text-align: center;
  min-height: 500px;
}
.div-botao-add {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

mat-grid-list {
  margin-left: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px; /* Espaçamento entre os cards */
}

mat-grid-tile {
  flex: 1 1 calc(25% - 16px); /* Cards ocupam 25% da largura com espaçamento */
  max-width: 300px; /* Limita a largura máxima */
  box-sizing: border-box;
  padding: 8px;
}

mat-card {
  width: 100%; /* Garante que o card ocupe toda a largura do container */
  text-align: center;
}

mat-card img {
  height: auto;
  max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do card */
  aspect-ratio: 1 / 1; /* Define um espaço quadrado */
  object-fit: cover; /* Garante que a imagem preencha o espaço sem distorção */
}

@media (max-width: 768px) {
  mat-grid-tile {
    flex: 1 1 calc(50% - 16px); /* Ajusta para 2 cards por linha em telas menores */
  }
}

@media (max-width: 480px) {
  mat-grid-tile {
    flex: 1 1 100%; /* Ajusta para 1 card por linha em telas muito pequenas */
  }
}